[Unit]
Description=Start George
Requires=network-online.target docker.service NetworkManager.service
After=network-online.target docker.service NetworkManager.service

[Service]
Type=simple
Restart=always
RestartSec=10s
WorkingDirectory=/home/jetbot/george/docker
ExecStart=/usr/bin/docker-compose up --force-recreate
ExecStop=/usr/bin/docker-compose down

[Install]
WantedBy=default.target
