[Unit]
Description=Start George
Requires=docker.service
After=docker.service

[Service]
Type=simple
Restart=always
RestartSec=10s
WorkingDirectory=/home/jetbot/george/docker
ExecStart=/usr/bin/docker-compose up
ExecStop=/usr/bin/docker-compose down

[Install]
WantedBy=network-online.target
